<script>
    $(document).ready(function(){
        if ("<%= devise_error_messages!.present? ? "true" : "false" %>" == "true"){
        $("#warning1").click();
        }
      });
</script>

<%= render :partial => "layouts/header" , :locals => {:title => "Resend confirmation instructions"} %>

<div id="login" class="page">
  <div class="container">
       
    <div class="row bg_white">
      <div class="span10 position_center">
        <div class="span2"></div>
        <div class="span1">
          <h2 class="title"></h2>
        </div>
        <!--end span3-->
        
        <div class="span6">
            <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
            <%=  resource.errors.full_messages.first %> 
            <div class="row"> <a href="#" data-toggle="tooltip" data-placement="right">
              <%= f.email_field :email, :autofocus => true, :placeholder => Settings.h_candidate_emailaddress  %>
              </a> </div>
            <div class="row">
            <%= f.submit "Resend confirmation instructions", :class => "btn_resend_conf position_center" %>
            <% end %>
        </div>
        </div>
        <!--end span4--> 
      </div>
    </div>
    
    
  </div>
</div>

<div style="display: none">
<a href="#warningbox1" id="warning1" data-toggle="modal" title="Link to Settings page" class="button_primery_big" data-placement="top" id="">Warning Box</a>
</div>

<div id="warningbox1" class="modal hide fade" data-width="960">
  <div class="modal-body">
    <div class="row">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="alert alert-error warningbox" style="margin-top:25px;"> 
            <h4>Warning box</h4>
            <div class="clearfix margin-15"></div>
            <p id = "warning_msg">
                <%=  resource.errors.full_messages.first %> 
            </p> 
            </div>
        </div>
  </div>
  <!-- end model body --> 
</div>



