<div class="row bg_white well">
                <h2>Campaigns</h2>
                <a href="" class="anchr_primery_big pull-right ajax_call" data_replace='client_content' path=<%= @path[:new_campaign] %>>New Campaign</a>
                <table cellpadding="0" cellspacing="0" border="0" class="display">
            <thead>
            <tr>
              <th><a>Created</a></th>
              <th><a>Campaign Name</a></th>
              <th><a>Campaign Reference</a></th>
              <th><a>Activation Date</a></th>
              <th><a>Deadline Date</a></th>
              <th><a>Matches</a></th>
              <th><a>Review</a></th>
              <th><a>Rejected</a></th>
              
            </tr>
            </thead>
            <tbody>
              <% @campaigns.each do |c| %>
            <tr>
              <td><%= c.created_at.to_date %></td>
              <td>
                  
              <%= link_to c.campaign_name,"",:class => 'ajax_call',:data_replace => 'client_content', :path=> '/client/view_campaign/'+c.id.to_s %>
              </td>
              
              <td><%= c.reference %></td>
              <td><%= c.deadline_forward.present? ? c.deadline_forward.to_date : "not set" %></td>
              <td><%= c.deadline_application.present? ? c.deadline_application.to_date : "not set" %></td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
            </tr>
            <% end %>
            </tbody>
            <tfoot>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </tfoot>
          </table>
            </div>
            
            
            
         

<script>
// $.ajax('campaigns.html.erb',
  // {
    // complete: function() {
       // $('.current').removeClass('current');
       // $('.icon-employmentdetails').addClass('current');
       // $('.employmentdetails').addClass('current');
    // }
  // }
// );
</script>