
<!-- start left menu --> 
	<a class="btnlm  btnlm-icon  btnlm-txt ajax_call" href="" data_replace='client_content' path=<%= @path[:summary] %> >
	    <i class="icon-dashboard current"></i><span class= "-dashboard current" >Dashboard</span>
	</a>
	<a class="btnlm  btnlm-icon  btnlm-txt ajax_call" href="" data_replace='client_content' path=<%= @path[:profile] %>>
		<i class="icon-contact"></i><span class="-contact" >Your Profile</span>
	</a> 
	<a class="btnlm  btnlm-icon  btnlm-txt ajax_call" href="" data_replace='client_content' path=<%= @path[:company_details] %>>
		<i class="icon-companies"></i><span class="-companies" >Company Details</span>
	</a> 
	<a class="btnlm  btnlm-icon  btnlm-txt ajax_call" href="" id="employment_details" data_replace='client_content' path=<%= @path[:campaigns] %>>
		<i class="icon-compaigns"></i><span class="-compaigns" >Campaigns</span>
	</a> 
	<a class="btnlm  btnlm-icon  btnlm-txt ajax_call" href="" data_replace='client_content' path=<%= @path[:new_campaign] %>>
		<i class="icon-compaign-new"></i><span class="-compaign-new">New Campaign</span>
	</a> 
<!-- end left menu --> 



