

    <!-- ======================Modal Definitions (Setting Change password) =======================================-->
<div id="setting" class="modal modal-qualification hide fade" data-width="760">
  <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3>Change Password</h3></div>
  <div class="modal-body">    
	  <%= form_for(user, :as => :user, :url => { :action => "update_password", :controller => "user_profiles" }, :remote => true, :html => {:'data-replace' => "dynamic_partail_render"} ) do |f| %>
	  <%= devise_error_messages! %>
	  <div class="row">
	  	<div class="span2"><%= f.label :password %></div>
	  	<div class="span4">
	  		<%= f.password_field :password, :autocomplete => "off", :'data-toggle' => "tooltip", :'data-placement' => "left", :title => Settings.t_settings_newpassword %>
	  		<label id='pass_error'></label>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="span2"><%= f.label :password_confirmation %></div>
	  	<div class="span4">
	  		<%= f.password_field :password_confirmation, :'data-toggle' => "tooltip", :'data-placement' => "left", :title => Settings.t_settings_confirmpassword %>
	  		<label id='pass_confor_error'></label>
	  	</div>	
	  </div>
	  <div class="row"><div class="span2"></div>
	  	<div class="span4"><%= f.submit "Change Password", :class => 'button_extra_wide', :id => 'change_password_submit' %></div>
	 </div> 	
	<% end %>
  </div>
</div>  
<!-- =============================end model of setting============================================== --> 

<script>
	$(document).on("click","#change_password_submit",function(){
		passflag=true;
		confPassflag=true;
		pass=$("#user_password").val();
		confPass=$("#user_password_confirmation").val();
		if(jQuery.isEmptyObject(pass)){
			$("#pass_error").text("<%= t('activerecord.errors.models.user.attributes.password.blank') %>");
			passflag=false
		}else if(pass.length<8){
			$("#pass_error").text("Password is too short (minimum is 8 characters)");
			passflag=false
		}else if(pass.length>23){
			$("#pass_error").text("Password is too long (maximum is 23 characters)");
			passflag=false
		}else {
			$("#pass_error").text("");
		}
		if(passflag==false){
			$("#pass_error").addClass("custom_error_message");
		}else {
			$("#pass_error").removeClass("custom_error_message");
		}
		if(pass!=confPass){
			$("#pass_confor_error").text("<%= t('activerecord.errors.models.user.attributes.password.confirmation') %>");
			confPassflag=false
		}else {
			$("#pass_confor_error").text("");
		}
		if(confPassflag==false){
			$("#pass_confor_error").addClass("custom_error_message");
		}else {
			$("#pass_confor_error").removeClass("custom_error_message");
		}
		if(confPassflag&&passflag){
			return true;
		}else{ return false}
	});
</script>
<div id="dynamic_partail_render">
	<!--  after password change partial will render in this div -->
</div>