

<script>

		// to find IT Skill entered in auto-complete field
$(document).ready(function(){
  $(".link_test").click(function() {
  	
  	unconfirmed_itskill_id = $(this).attr("id");
  
  	selectedItskillName = $(".itskill_name_" + unconfirmed_itskill_id).val();
  	if(selectedItskillName  == ""){ selectedItskillName = null;}
  	
  	
  	$.ajax({
				async : true,
				type : 'GET',
				url : "/database_managements/change_itskill_status_to_deleted/" + selectedItskillName + "/" + unconfirmed_itskill_id,
				success : function(data) {
					$('#database_management_div').html(data);
					
					itskillFlagValue = $("#itskillsflag").text();
					if( itskillFlagValue.match(/true/g) )
					{
						$("#warningbox").modal('show');
					}
				},
				error : function(data) 
				{
				}
			});
			return false;
  	
  });
});

	// jQuery - To add data table
$(document).ready(function() {
	$('.display').dataTable( {
		//"aaSorting": [[ 4, "desc" ]]
		"sPaginationType": "full_numbers",
		"sScrollY": "280px",
		"bPaginate": true,
		"bScrollCollapse": true,
		"fnDrawCallback": function(){ $('.first, .next, .previous, .last').each(function() { $(this).text('.'); });}
	} );
} );
</script>


<label id="itskillsflag" style="display: none"> <%= itskills_flag %> </label>
	
	<!-- To display the list of Unconfirmed IT Skills-->
<div class="row bg_white well">
	<h2>Unconfirmed IT Skills</h2>
	
	<!-- button named as 'Add New' to add new IT Skill-->
	<button data-toggle="modal" class="button_primery_big pull-right" href="#qualification_itskill" data-placement="top" title="">
		Add New
	</button>
	
	<div class="clearfix margin-10"></div>
    <div style="min-height:100px; max-height:220px; overflow-y:auto;" class="margin-20">
    	
	    <table class="table">	
	    	<% if @unconfirmed_itskills.present?%>
					<% @unconfirmed_itskills.each do |it_skill| %>
					<tr>
						<td><%= it_skill.name%></td>
						
						<td>
							<%= link_to("Add New", "",:'data_replace' => "database_management_div",:'path' => "/database_managements/change_itskill_status_to_active/" + it_skill.id.to_s, :class => "button_primery_mini ajax_call") %>
						</td>
						
						<td>
				 			<%= form_for :user_itskill do |f|%>
								<%= f.autocomplete_field :it_skill_name, autocomplete_itskill_name_database_managements_path ,:size => 20, :class => "small itskill_name_" + it_skill.id.to_s%>
							<%end%>										 	
						</td>
						
						<td>
							<%= link_to("Link", "#", :class => "link_test button_primery_mini", :id  => it_skill.id)%>
						</td>
						
					</tr>
					<% end %>
			<% else %> 
					<tr>
						<td><p align="center"><%= Settings.m_NoRecords%></p></td>
					</tr>
					<tr><td>&nbsp;</td></tr>
		    <% end %>
		</table>
	</div>
	<div class="clearfix margin-10"></div>
</div>


<div class="row bg_white well">
	<!-- To display the list of all(non-deleted) IT Skills-->
	<h2>IT Skills</h2>
    
    <!-- start IT Skills table -->
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="itskill">
				<thead>
					<tr>
						<th><a>IT Skill Name</a></th>
						<th><a>Status</a></th>
					</tr>
				</thead>
			
				<tbody>
					<% @itskills.each do |it_skill| %>
					<%if it_skill.status != IT_SKILL_STATUS_DELETED && it_skill.status != IT_SKILL_STATUS_UNCONFIRMED%>
						<tr>
							<td><%= it_skill.name%></td>
							<td><%= it_skill.status%></td>
						</tr>
					<% end %>
					<% end %>
				</tbody>
		</table>
		<div class="clearfix margin-10"></div>
</div>



	<!-- Modal Definitions to add new IT SKill-->
<div id="qualification_itskill" class="modal modal-qualification hide fade" data-width="760">
	<%= form_for(Itskill.new ,:validate => true, :url => {:action =>'create_itskill', :controller => "database_managements"}, :remote => true, :html => {:'data-replace' => "database_management_div"}) do |itskill_form| %>
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>IT Skills</h3>
  	</div>
		 
	<div class="modal-body">
		    <div class="row">
			    <div class="span2 txt_highlight">Name :</div>
			    <div class="span4"> 
			    
			    <%= itskill_form.text_field :name, :class => "itskill_class", :placeholder => Settings.h_candidate_itskill, :'data-toggle' => "tooltip", :'data-placement' => "left" , :title => "t_itskill_name" %> 
			    </div>
	    	</div>
	           		
	        <div class="row">
				<div class="span2 txt_highlight">Status :</div>
				<div class="span4"> 
				<span data-toggle="tooltip" data-placement="left" title="t_status"><%= itskill_form.select :status, options_for_select(IT_SKILL_STATUS_LIST.invert), :include_blank => Settings.h_status %></span>
				</div>
	    	</div> 		
	            
			<div class="clearfix margin-20"></div>	
		    <div class="row">
				<div class="span3">
				<%= itskill_form.submit "Add and Finish", :class => "button_primery_modal" %>
				<!-- <a href="#" id= "add_and_finished" class="button_primery_modal add_qualification">Add & Finished</a> -->
				</div>
					
				<div class="span3">
				<%= itskill_form.submit "Add & Enter Another", :class => "button_primery_modal"%>
				<!-- <a href="#" id= "add_and_enter_another" class="button_primery_modal add_qualification">Add & Enter Another</a> -->
				</div>
			</div>
	</div>
    <% end %>
	
</div>



<div id="warningbox" class="modal hide fade" data-width="960">

  <div class="modal-body">
    <div class="row">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="alert alert-error warningbox" style="margin-top:25px;"> 
          	<h4>Warning box</h4>
            <div class="clearfix margin-15"></div>
            <p>
            	<%= Settings.e_linkItSkill%>
            </p> 
            </div>
        </div>
  </div>
  <!-- end model body --> 
</div>
<!-- end model of warning box -->
