<% size = "120x5" %> 
<script>
	$(document).ready(function() {
		$('#add_remove_questions').html('<%= escape_javascript(render 'tests/add_remove_questions', :locals => { :selected_question => @selected_question, :available_questions => @available_questions }) %>');
    });
</script>

<h1> Manage Test</h1>

<%= form_for(@tfp_test, :validate => true, :url => {:action =>'update',:id =>@tfp_test.id}) do |f| %>
<table>
    <tr>
        <td> Name </td>
        <td> <%= f.text_field :name %> </td>
    </tr>

    <tr>
        <td> Description </td>
        <td> <%= f.text_area :description, :size => size %> </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td> Duration </td>
        <td> <%= f.number_field :duration %> &nbsp;&nbsp; minutes </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="1"> Status </td>
        <td colspan="3"> <%= f.select :status, QUESTION_STATUS %> </td>
    </tr>

</table>

<% end %>
<div id="add_remove_questions">

</div>

<br /><br /><br /><br /><br />

<table>
    <tr>
        <td> <%= link_to "take me back to index page", tests_path %> </td>
        <td align="right"> <%= link_to "Update","#" ,:path => URI::escape(test_path(@tfp_test.id)), :class => 'update_test' %> </td>
    </tr>
</table>